# =========================
# ENVIRONMENT
# =========================
venv/
.venv/
env/

# =========================
# ENV FILE (CRÍTICO)
# =========================
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# DATABASE FILES (caso use local futuramente)
# =========================
*.db
*.sqlite3

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log